<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="document"></ion-icon>
      <ion-label>riwayat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Pencairan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="mail"></ion-icon>
      <ion-label>Pesan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
