<ion-header>
  <ion-toolbar>
    <ion-title>
      Point Blanja
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Default Searchbar -->
<ion-searchbar></ion-searchbar>
<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-card class="welcome-card">
          <!-- <img src="/assets/shapes.svg" alt="" /> -->
          <ion-card-header>
            <ion-card-subtitle>Iklan 1</ion-card-subtitle>
            <ion-card-title>Welcome to Ionic</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="welcome-card">
          <!-- <img src="/assets/shapes.svg" alt="" /> -->
          <ion-card-header>
            <ion-card-subtitle>Iklan2</ion-card-subtitle>
            <img src="/assets/shapes.svg" alt="" />
            <ion-card-title>Welcome to Ionic</ion-card-title>
          </ion-card-header>
         <!--  <ion-card-content>
            <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
          </ion-card-content> -->
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="welcome-card">
          <!-- <img src="/assets/shapes.svg" alt="" /> -->
          <ion-card-header>
            <ion-card-subtitle>Get Started</ion-card-subtitle>
            <ion-card-title>Welcome to Ionic</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
   <ion-grid>
  <ion-row>
    <ion-col size='3'>
      <div>
       <ion-button size="large" color="light">
        <ion-icon name="contacts"></ion-icon> 
      </ion-button>
      </div>
    </ion-col>
    <ion-col size='3'>
      <div>
        <ion-button size="large" color="light">
        <ion-icon name="contacts"></ion-icon> 
      </ion-button>
      </div>
    </ion-col>
    <ion-col size='3'>
      <div>
       <ion-button size="large" color="light">
        <ion-icon name="contacts"></ion-icon> 
      </ion-button>
      </div>
    </ion-col>
    <ion-col size='3'>
      <div>
         <ion-button size="large" color="light">
        <ion-icon name="contacts"></ion-icon> 
      </ion-button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size='3'>
      <div>
       <ion-button size="large" color="light">
        <ion-icon name="contacts"></ion-icon> 
      </ion-button>
      </div>
    </ion-col>
    <ion-col size='3'>
      <div>
        <ion-button size="large" color="light">
        <ion-icon name="contacts"></ion-icon> 
      </ion-button>
      </div>
    </ion-col>
    <ion-col size='3'>
      <div>
       <ion-button size="large" color="light">
        <ion-icon name="contacts"></ion-icon> 
      </ion-button>
      </div>
    </ion-col>
    <ion-col size='3'>
      <div>
         <ion-button size="large" color="light">
        <ion-icon name="contacts"></ion-icon> 
      </ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
  <ion-card class="welcome-card">
          <!-- <img src="/assets/shapes.svg" alt="" /> -->
          <ion-card-header>
            <ion-card-subtitle>Iklan 1</ion-card-subtitle>
            <ion-card-title>Welcome to Ionic</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
          </ion-card-content>
        </ion-card>

          <ion-card class="welcome-card">
          <!-- <img src="/assets/shapes.svg" alt="" /> -->
          <ion-card-header>
            <ion-card-subtitle>Iklan 1</ion-card-subtitle>
            <ion-card-title>Welcome to Ionic</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
          </ion-card-content>
        </ion-card>
   <!--  <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list> -->
</ion-content>
